li:first-child {
 font-size: 20px;
 color: red;
 border: 1px solid blue;
 
}

li:first-child:hover {
 color: green;
 cursor: pointer;
}

li:last-child {
 font-size: 10px;
 color: silver;
 border: 1px solid grey;
}

li:last-child:hover {
 font-size: 30px;
 color: blue;
 cursor: pointer;
}

li:nth-child(25) {
 font-size: 30px;
 color: purple;
 border: 1px solid green;
}

li:nth-child(25):hover {
 color: red;
 cursor: pointer;
}